<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>JK-RealEstate</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <header id="header">
            <div>
            
                <nav id="navmenu">

                </nav>
            </div>
        </header>
        <main>
            <section id="hero">

            </section>
            <section id="">

            </section>
        </main>
    </body>
</html>